$black-color: #2d3748;
$blue-color: #5a67d8;
$bg-color: #f4f4f4;
$gray-color: #718096;
$gray-light-color: #eeeeee;
$blue-light-color: #55acee;
$blue-lighter-color: #00a0dc;
$pink-color: #ea4c89;
$primary-font: "Hind", sans-serif;
$second-font: "Libre Baskerville", serif;
