section.beauty
  .container.fashion-container 
    .fashion-header
      h3.global-title--second.fashion-heading Beauty
      button.fashion-btn View more
    .fashion-list 
      +fashionItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/01/beauty1.jpg","Why you need a Spa Day, Reasons to Get a Package","January 8, 2021","2:12 pm")
      +fashionItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/01/beauty2.jpg","Winter: 4 Ways to Feel Great during the Cold Weather","January 8, 2021","2:11 pm")
      +fashionItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/01/beauty3.jpg","Key to Glowing Skin: 5 tips for hydration and protection","January 8, 2021","2:10 pm")
      +fashionItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/01/beauty4.jpg","Take steps to beautiful Summer Feet with Spa experience","January 8, 2021","2:09 pm")