section.feature 
	.container.feature-container 
		.feature-list
			.feature-item 
				<i class="fas fa-bath"></i>
				span.global-text--second.feature-item-text Beauty
			.feature-item 
				<i class="fas fa-female"></i>
				span.global-text--second.feature-item-text Fashion & Style
			.feature-item 
				<i class="fas fa-utensils"></i>
				span.global-text--second.feature-item-text Food & Wellness
			.feature-item 
				<i class="fas fa-life-ring"></i>
				span.global-text--second.feature-item-text Lifestyle
		.feature-main-list 
			+featureMainItem("Create an Art that shows the beauty in everyone’s ideas of flaws.","https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/beauty.jpg")
			+featureMainItem("Addicted to Fashion is the Armor to survive the reality of Everyday Life.","https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/fashion.jpg")
			+featureMainItem("Create healthy habits, not restrictions. Wellness is a taste of being.","https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/food.jpg")
			+featureMainItem("To succeed in Life, you need 3 things: a wishbone, a backbone, a funny bone.","https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/lifestyle.jpg")
			
			
			
