footer.footer 
  .container.footer-container
    .footer-logo 
      .footer-logo-main
        a(href="#!").header-logo-icon
          <i class="far fa-newspaper"></i>
        a(href="#!").header-logo-text.global-logo NewsBlog
      p.footer-logo-copyright.global-text--primary © 2022. All Rights Reserved.
      p.footer-logo-big 
        span.footer-logo-text-black.global-text--primary Theme by 
        span.footer-logo-text-blue.global-text--primary W3Layouts.
    .footer-recent
      h4.footer-title Recent Posts
      .footer-recent-item
        span.global-text--third.footer-recent-desc 3 New Outfit Formulas To Add To Your Capsule Wardrobe
        span.global-text--small.footer-recent-time February 27, 2021
      .footer-recent-item
        span.global-text--third.footer-recent-desc Blog Guide: How to Start a Personal Blog on WordPress
        span.global-text--small.footer-recent-time February 27, 2021
      .footer-recent-item
        span.global-text--third.footer-recent-desc The technical setup when starting a personal blog
        span.global-text--small.footer-recent-time February 27, 2021
    .footer-category
      h4.footer-title Categories
      span.global-text--third.footer-category-desc Beauty
      span.global-text--third.footer-category-desc Fashion & Style
      span.global-text--third.footer-category-desc Featured
      span.global-text--third.footer-category-desc Food & Wellness
      span.global-text--third.footer-category-desc Lifestyle
      span.global-text--third.footer-category-desc Top Picks
      span.global-text--third.footer-category-desc Uncategorized
    .footer-social 
      h4.footer-title Social Media
      ul.footer-social-menu 
        li.footer-social-item 
          a.footer-social-link(href="#!")
            <i class="fab footer-social-facebook fa-facebook-f"></i>
            span.global-text--third.footer-social-text Facebook
        li.footer-social-item 
          a.footer-social-link(href="#!")
            <i class="fab footer-social-twitter fa-twitter"></i>
            span.global-text--third.footer-social-text Twitter
        li.footer-social-item 
          a.footer-social-link(href="#!")
            <i class="fab footer-social-linkedin fa-linkedin-in"></i>
            span.global-text--third.footer-social-text Linkedin
        li.footer-social-item 
          a.footer-social-link(href="#!")
            <i class="fas footer-social-dribble   fa-basketball-ball"></i>
            span.global-text--third.footer-social-text Dribble
