section.pick 
  .container.pick-container 
    .pick-editor 
      h3.pick-editor-heading.global-title--second Editor's Pick 
      .pick-editor-list 
        +pickEditorItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/fashion1.jpg","What I’ll be Wearing this Party Season & the Festive edit","February 22, 2021","7:49 am")
        +pickEditorItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/fashion2.jpg","An easy Guide to buying Denim & My favorite styles","February 22, 2021","7:49 am")
        +pickEditorItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/fashion3.jpg","3 New Outfit Formulas To Add To Your Capsule Wardrobe","February 22, 2021","7:48 am")
        +pickEditorItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/fashion4.jpg","3 New Outfit Formulas To Add To Your Capsule Wardrobe","February 22, 2021","7:47 am")
      .pick-editor-advertise 
        h3.global-title--second.pick-editor-advertise-text Advertise with us
        button.pick-button Learn more
    .pick-topic
      h3.pick-topic-heading.global-title--second Topics
      .pick-topic-item 
        span.pick-topic-text Beauty
      .pick-topic-item 
        span.pick-topic-text Fashion & Style
      .pick-topic-item 
        span.pick-topic-text Featured
      .pick-topic-item 
        span.pick-topic-text Food & Wellness
      .pick-topic-item 
        span.pick-topic-text Lifestyle
      .pick-topic-item 
        span.pick-topic-text Top Picks
      .pick-topic-item 
        span.pick-topic-text Uncategorized
      h3.h3.pick-topic-heading-our.global-title--second Our sponsers
      img(src="https://wp.w3layouts.com/newsblog/wp-content/themes/news-blog/assets/images/ad.jpg", alt="")
      p.pick-topic-withus Advertise with us
