section.subcribe 
  .container.subcribe-container 
    h3.global-title--second.subcribe-heading Subscribe to our newsletter!
    p.global-text--primary.subcribe-desc We'll send you the best of our blog just once a month. We promise.
    form.subcribe-form(action="")
      .subcribe-input-box
        input(type="text" placeholder="Email address" required).subcribe-input
        <i class="fas fa-times"></i>
        <i class="fas fa-check"></i>
      button.subcribe-btn Subcribe
  