section.top
  .container.top-container 
    h3.global-title--second.top-heading Top Pick's of this month
    .top-list 
      .top-item 
        .top-content
          h3.global-title--third.top-title Right food baked with natural ingredient, the use of best quality products
          +w3layout("February 22, 2021","7:29 am")
      .top-item 
        .top-content
          h3.global-title--third.top-title The 5 Nonnegotiables of a Healthy Quarantine food that a Doctor-Approved
          +w3layout("February 22, 2021","7:28 am")
      .top-item
        .top-content
          h3.global-title--third.top-title Fashion is Creating your Beauty image. The New fashion starts here
          +w3layout("February 22, 2021","7:26 am")