section.trending
  .container.fashion-container 
    .fashion-header
      h3.global-title--second.fashion-heading Trending Now
    .fashion-list 
      +pickEditorItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/lifestyle5.jpg","3 New Outfit Formulas To Add To Your Capsule Wardrobe","February 27, 2021","7:48 am")
      +pickEditorItem("https://wp.w3layouts.com/newsblog/wp-content/uploads/sites/22/2021/02/lifestyle7.jpg","Blog Guide: How to Start a Personal Blog on WordPress","February 27, 2021","7:48 am")