extends layout/layout

block vars
	-title = 'News Blog'
	-bodyClass = 'home-page'

block container
	include blocks/feature
	include blocks/top
	include blocks/pick
	include blocks/fashion
	include blocks/beauty
	include blocks/trending
	include blocks/subcribe